.info-section__list {
  display: flex;
  justify-content: space-between;
}

.info-section__svg-background {
  width: 270px;
  height: 120px;
  background-color: var(--background-colorsec);
  margin-bottom: 30px;
}

.info-section__img {
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: 25px;
}

.info-setion__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.info-section__subtitle {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  max-width: 270px;
}
