:root {
  --accent-color: #212121;
  --accent-color2: #2196f3;
  --accent-color3: #757575;
  --accent-color4: #ffffff;
  --hover-color: #2196f3;
  --title-color: #212121;
  --subtitle-color: #757575;
  --button-color: #188ce8;
  --background-color: #faf4f4;
  --background-footer: #2f303a;
  --team-list-background-color: #ffffff;
  --svg-icon-color: #b8b0af;
  --border-web-color: #eeeeee;
  --border-bottom: #ececec;
  --modal-bck-color: #ffffff;
  --background-colorsec: #f5f4fa;
}
